node_modules/
**/node_modules/
.git/
.aws/
.circleci/
customer-management-scripts/
packages/legacy-server/db_scripts/
deploy/
local-dev-scripts/
packages/legacy-server/wiki/
.gitignore
**/.gitignore
pull_request_template.md
README.md
.docker/
.github/
.env
.env.*
**/.env
**/.env.*
infrastructure/
packages/legacy-server/server/config.json
