@forward "variables";

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: $color-secondary;
  background-color: $color-primary;
}

button {
  color: $color-tertiary;
  background-color: $color-secondary;
}