@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: #1f1c2f;
  text-decoration: none;
  background-color: transparent;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.noteto-layout{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  color: #768492;
  background: #f3f6fd;
}
.rtl.noteto-layout{
direction: rtl;
}
.content-page {
  overflow: hidden;
  margin-left: 290px;
  padding: 30px 15px 0px 15px;
  min-height: 100vh;
  transition: all 0.3s ease-in-out;
}
.rtl.noteto-layout .content-page {
  margin-left: 0;
  margin-right: 290px;;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.noteto-sidebar {
  position: fixed;
  z-index: 1000;
  margin: 30px;
  width: 260px;
  min-height: 40vh;
  background: #fff;
  transition: all .6s ease-in-out;
  -ms-box-shadow: 0 0 40px rgba(0,0,0,.05);
  -o-box-shadow: 0 0 40px rgba(0,0,0,.05);
  box-shadow: 0 0 40px rgba(0,0,0,.05);
  border-radius: 10px;
}
.noteto-sidebar-logo {
  padding: 20px 0 20px;
  margin: 0 20px 20px;
  width: auto;
  position: relative;
  border-bottom: 1px solid #dcdddf;
  transition: all .6s ease-in-out;
}
.noteto-sidebar-logo .logo-title {
  padding-top: 20px;
}
.noteto-sidebar-logo a {
  display: flex;
  align-items: flex-start;
}
.noteto-sidebar-menu {
  position: relative;
  margin: 0 20px;
}

.noteto-sidebar-menu .noteto-sidebar-menu-content{
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.noteto-sidebar-menu .noteto-sidebar-menu-content li a{
  font-size: 16px;
  white-space: nowrap;
  display: block;
  color: #848486;
  position: relative;
  padding: 15px 18px;
  line-height: 18px;
  display: flex;
  align-items: center;
  overflow: hidden;
  text-transform: capitalize;
  border-radius: 10px;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
}